[submodule "1-2_programming/prog-lab5"]
path = 1-2_programming/prog-lab5
url = https://github.com/huji-itmo/prog-lab5.git
[submodule "1-2_programming/prog-lab6"]
path = 1-2_programming/prog-lab6
url = https://github.com/huji-itmo/prog-lab6.git
[submodule "1-2_programming/prog-lab7"]
path = 1-2_programming/prog-lab7
url = https://github.com/huji-itmo/prog-lab7.git
[submodule "1-2_programming/prog-lab8"]
path = 1-2_programming/prog-lab8
url = https://github.com/huji-itmo/prog-lab8.git
[submodule "1-3_calculus/calc3-grad-descent"]
path = 1-3_calculus/calc3-grad-descent
url = https://github.com/huji-itmo/calc3-grad-descent.git
[submodule "1-3_calculus/calc2-integration-methods"]
path = 1-3_calculus/calc2-integration-methods
url = https://github.com/huji-itmo/calc2-integration-methods.git
[submodule "1-3_calculus/calc3-integrals-numerical-method"]
path = 1-3_calculus/calc3-integrals-numerical-method
url = https://github.com/huji-itmo/calc3-integrals-numerical-method.git
[submodule "4_computational_mathematics/comp-math-lab6"]
	path = 4_computational_mathematics/comp-math-lab6
	url = https://github.com/huji-itmo/comp-math-lab6.git
[submodule "4_computational_mathematics/comp-math-lab5"]
	path = 4_computational_mathematics/comp-math-lab5
	url = https://github.com/huji-itmo/comp-math-lab5.git
[submodule "4_computational_mathematics/comp-math-lab4"]
	path = 4_computational_mathematics/comp-math-lab4
	url = https://github.com/huji-itmo/comp-math-lab4.git
[submodule "4_computational_mathematics/comp-math-lab3"]
	path = 4_computational_mathematics/comp-math-lab3
	url = https://github.com/huji-itmo/comp-math-lab3.git
[submodule "4_computational_mathematics/comp-math-lab2"]
	path = 4_computational_mathematics/comp-math-lab2
	url = https://github.com/huji-itmo/comp-math-lab2.git
[submodule "4_computational_mathematics/comp-math-lab1"]
	path = 4_computational_mathematics/comp-math-lab1
	url = https://github.com/huji-itmo/comp-math-lab1.git
[submodule "4_computer_system_architecture/csa_experiments"]
	path = 4_computer_system_architecture/csa_experiments
	url = https://github.com/huji-itmo/csa_experiments.git
[submodule "2_databases/lab3-hibernate"]
	path = 2_databases/lab3-hibernate
	url = https://github.com/huji-itmo/lab3-hibernate.git
